* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

body {}

main {
    max-width: 1440px;
    margin: auto;
}

/* header Styles */

.header {
    background-color: rgba(255, 144, 14, 0.10);
    padding: 60px 0;
}

.banner-img {
    width: 100%;
    text-align: center;
}

.nav-header {
    color: #131313;
    font-size: 3rem;
    font-weight: 700;
}

.header > nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
}

nav>ul {
    display: flex;
    list-style-type: none;
}

nav>ul>li {
    margin-right: 3rem;
}

nav a {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 500;
    color: #424242;
}

/* Banner Styles */

.banner-container {
    max-width: 1440px;
    margin: 0 auto;
}

.banner-content {
    text-align: center;
}

.banner-header {
    color: #131313);
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    margin-top: 150px;
}

.description {
    color: #727272;
    text-align: center;
    font-weight: 400;
    font-size: 1rem;
    margin: 30px 0;
    line-height: 1.3rem;
}

.btn-primary {
    background-color: #FF900E;
    border: none;
    font-size: 1.2rem;
    color: #fff;
    border-radius: 0.5rem;
    padding: 20px 25px;
    text-align: center;
    margin-bottom: 60px;
}

/* Teams Styles */
.teams-container {
    display: flex;
    gap: 70px;
    align-items: center;
    margin: 100px 0;
    justify-content: space-between;
}

.team-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.4rem;
}

.team-images img {
    width: 100%;
}

.teams-header {
    color: #727272;
    font-size: 3rem;
    font-weight: 500;
}

.our {
    color: #131313;
    font-size: 3rem;
    font-weight: 700;
}

.fes {
    color: #FF900E;
    font-size: 3rem;
    font-weight: 700;
}

.teams-description {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    margin: 25px 0;
}

.teams-child {
    width: 50%;
}

/* facts styles */
.fact-container {
    margin: 150px 0;
}

.fact-title {
    color: #131313;
    font-size: 3rem;
    font-weight: 700;
}

.fact-desc {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    margin-top: 25px;
}

.cart-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 100px 0;
}

.cart {
    text-align: center;
    border-radius: 8px;
    border: 1px solid #FF900E;
    padding: 45px 50px 60px 50px;
}

.card-stat {
    color: #424242;
    font-size: 3rem;
    font-weight: 600;
    margin-top: 10px;
}

.card-des {
    color: #727272;
    font-size: 1.4rem;
    font-weight: 600;
}

.cart-1 {
    padding-left: 66px;
    padding-right: 66px;
}

.cart-2 {
    padding-left: 55px;
    padding-right: 55px;
}

.cart-3 {
    padding-left: 66px;
    padding-right: 66px;
}

.cart-4 {
    padding-left: 72px;
    padding-right: 72px;
}

@media screen and (max-width: 576px) {

    /* header mobile Styles */
    .header > nav {
        flex-direction: column;
    }
    .banner-header {
        font-size: 2.5rem;
    }
    nav a {
        font-size: 16px;
    }
    nav ul li {
        margin-right: 10px;
        margin-top: 20px;
    }

    .description {
        margin: 10px;
    }

    /* banner mobile Styles */
    .teams-container {
        flex-direction: column-reverse;
    }

    .team-images {
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }

    .teams-content {
        margin: 0 10px;
        width: 100%;
    }

    .cart-container {
        flex-direction: column;
        gap: 30px;
    }
    .cart {
        width: 60%;
    }
    .cart-2 {
        padding-left: 64px ;
        padding-right: 64px ;
    }
    .fact-title {
        margin: 0 15px
    }
    .fact-desc {
        margin: 0 15px;
    }


}




@media screen and (min-width: 576px) and (max-width: 992px) {

    /* header medium styles */
    .header>nav {
        flex-direction: column;
    }

    .teams-container {
        flex-direction: column-reverse;
    }

    .team-images {
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }

    .teams-content {
        margin: 0 30px;
        width: 100%;
    }

    .cart-container {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 40px;
        margin: 0 10px;
    }
    .cart-2 {
        padding-left: 64px ;
        padding-right: 64px ;
    }

    .cart-4 {
        padding-left: 62px ;
        padding-right: 62px ;
    }
    .fact-title {
        margin: 0 30px
    }
    .fact-desc {
        margin: 20px 30px;
    }

}